/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Clase fixed-width container que se "autocentrará" a sí misma */
.container {
    width: 1200px;
    margin: 0 auto;
}
.btn {
    font-size: 20px;
    color: white;
    background-color:dodgerblue;
    font-style: normal;
    border: 2px solid black;
    padding: 10px 40px;
    box-shadow: 5px 6px black;
}